@using COGSLib;

<h1>@Title</h1>
<table>
    <tr>
        <td>OutstandingQuantity</td>
        <td>@COGSPerformance.OutstandingQuantity</td>
    </tr>
    <tr>
        <td>InputValue</td>
        <td>@COGSPerformance.InputValue</td>
    </tr>
    <tr>
        <td>UnallocatedValue</td>
        <td>@COGSPerformance.UnallocatedValue</td>
    </tr>
    <tr>
        <td>OutstandingValue</td>
        <td>@COGSPerformance.OutstandingValue</td>
    </tr>
    <tr>
        <td>AllocatedValue</td>
        <td>@COGSPerformance.AllocatedValue</td>
    </tr>
    <tr>
        <td>AllocatedUnitPrice</td>
        <td>@COGSPerformance.AllocatedUnitPrice</td>
    </tr>
    <tr>
        <td>OutstandingUnitPrice</td>
        <td>@COGSPerformance.OutstandingUnitPrice</td>
    </tr>
    <tr>
        <td>RealizedProfit</td>
        <td>@COGSPerformance.RealizedProfit</td>
    </tr>
</table>

@code {
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private COGSLib.Performance COGSPerformance { get; set; }
}
